
<h1><a class="banner"><img src="assets/img/okta-japan.png" width="450px" alt=""></a></h1>




<form class="OrgConfigForm">
    <mat-form-field class="OrgSetting" appearance="fill">
        <mat-label>Org URL</mat-label>
        <input matInput placeholder="https://acme.okta.com" value="orgURL">
    </mat-form-field>
    <br>
    <mat-form-field class="OrgSetting" appearance="fill">
        <mat-label>API Key</mat-label>
        <input matInput placeholder="WGDFA1231231SDFSDFSDFSDV23423" value="apiKey">
    </mat-form-field>

</form>