
<h1><a class="banner"><img src="assets/img/okta-japan.png" width="450px" alt=""></a></h1>




<form class="OrgConfigForm">
    <mat-form-field class="OrgSetting" appearance="fill">
        <mat-label>Org URL</mat-label>
        <input matInput placeholder="https://atko.okta.com" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="OrgSetting" appearance="fill">
        <mat-label>API Key</mat-label>
        <input matInput placeholder="00cg1PLfOwBVxJEtFMHb0BIIHA8y1Wo4pLoID9DfeE" value="">
    </mat-form-field>

</form>