.mat-elevation-z8 {
    width: 100%;
    box-shadow: none!important;
}

.listGroups {
    margin: 10px!important;
    padding-top: 10px!important;
}

.mat-h2, .mat-title, .mat-typography h2 {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 0px!important;
}

.mat-form-field {
    margin-top: 5px!important;
    font-size: 12px!important;
    margin-bottom: 5px!important;
    padding: 5px!important
}

.mat-cell {
    font-size: 10px!important;
}

tr.mat-row, tr.mat-footer-row {
    height: 20px!important;
}

tr.mat-header-row {
    height: 20px!important;
}