<!-- <div class="wrapper">
    <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/okta-blue.jpg');">

        
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <div class="filter"></div> -->
        

        <mat-tab-group class="tabGroup">
            <mat-tab label="Users"> Content 1

                <div class="fxcontainer" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px">

                    <div class="item item1" id="memberProfile">
                        <a mat-button href="https://mortpanda.github.io/ciam-angular-portal-profile/home"
                            target="_blank" class="btn_profile">
                            Oktaプロファイル<br>参照サイト
                        </a>

                    </div>

                    <div class="item item1" id="memberSite">
                        <a mat-button href="https://angular-ciam-demo-wp.csm-apac-1.duckdns.org" target="_blank"
                            class="btn_member">
                            メンバーサイト
                        </a>

                    </div>
                    <div class="item item1" id="memberBBS">
                        <a mat-button href="https://angular-ciam-demo-wpbb.csm-apac-1.duckdns.org" target="_blank"
                            class="btn_wpbb">
                            メンバー用<br>掲示板
                        </a>

                    </div>

                    <div class="item item1" id="memberMoodle">
                        <a mat-button href="https://angular-ciam-demo-moodle.csm-apac-1.duckdns.org" target="_blank"
                            class="btn_moodle">
                            オンライン<br>トレーニング
                        </a>

                    </div>


                </div>
            </mat-tab>
            <mat-tab label="Groups"> Content 2 </mat-tab>

            <mat-tab label="Apps"> Content 3 </mat-tab>
            
            

        </mat-tab-group>

<!-- 



    </div>


</div>

<app-whoisokta></app-whoisokta>
<app-footer></app-footer> -->