<mat-tab-group class="tabGroup">
    <mat-tab label="Users">
        <div class="fxcontainer" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px">

            <div class="item item1 UserCount" id="UserCount">
                <app-activeusers></app-activeusers>

            </div>

            <div class="item item1 UserCount" id="UserCount">
                <app-inactiveusers></app-inactiveusers>
            </div>

            <div class="item item1" id="memberProfile">

                    Total Active<br>
                    <app-activetotal></app-activetotal>


            </div>
        </div>

    </mat-tab>
    <mat-tab label="Groups"> Content 2
        <div class="fxcontainer" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px">

            <div class="item item1 UserCount" id="UserCount">
                <!-- <app-activeusers></app-activeusers> -->

            </div>


            <div class="item item1 UserCount" id="UserCount">
                <!-- <app-inactiveusers></app-inactiveusers> -->
            </div>

            <div class="item item1" id="memberProfile">
                <a mat-button href="https://mortpanda.github.io/ciam-angular-portal-profile/home" target="_blank"
                    class="btn_profile">
                    User Information<br>
                    {{strTestStuff}}
                </a>

            </div>
        </div>

    </mat-tab>
    <mat-tab label="Apps"> Content 3



    </mat-tab>



</mat-tab-group>

<!-- 



    </div>


</div>

<app-whoisokta></app-whoisokta>
<app-footer></app-footer> -->